body
{
	background-image: url(https://www.nasa.gov/sites/default/files/images/696969main_ExoUpClose-full_full.jpg);
	background-size: cover;
	color: rgb(200, 200, 200);
	font-family: Calibri;
	text-align: center;
	height: 100%;
	margin: 0;
	background-attachment: fixed;
}

html
{
	height: 100%;
}

#centercolumn
{
	background-color: rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 75%;
	min-height: 100%;
	text-align: left;
	bottom: 0;
	-moz-box-shadow: 0px 0px 80px 100px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 0px 80px 100px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 80px 100px rgba(0,0,0,0.8);
	position: initial;
}

#header
{
	padding-top: 50px;
	overflow: auto;
}

.left
{
	width: 50%;
	float: left;
	text-align: left;
	display: block;
}

.right
{
	width: 50%;
	float: right;
	text-align: right;
	display: block;
}

#name
{
	font-size: 30pt;
	color: white;
}

#subname
{
	color: grey;
}

.navlink
{
	
	font-size: 20pt;
	color: rgb(200, 200, 200);
	text-decoration: none;
	margin-left: 20px;
}

#main
{
	margin-top: 50px;
}

p
{
	margin-bottom: 25px;;
}
